[submodule "KamiLib"]
	path = KamiLib
	url = https://github.com/ffxiv-tc-port/KamiLib.git
	branch = tc-dailyduty-api13-pin
[submodule "KamiToolKit"]
	path = KamiToolKit
	url = https://github.com/ffxiv-tc-port/KamiToolKit.git
	branch = tc-dailyduty-api13-pin
